<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="order_cancel_after">
        <observer name="stock_compensation_order_cancel_after" instance="Aplazo\AplazoPayment\Observer\Order\CancelAfter"/>
    </event>
    <event name="sales_order_place_after">
        <observer name="aplazo_sales_order_place_after_create_loan" instance="Aplazo\AplazoPayment\Observer\SalesOrderPlaceAfterCreateLoan" />
    </event>
    <event name="sales_order_creditmemo_save_before">
        <observer name="aplazo_creditmemo_before_save_observer" instance="Aplazo\AplazoPayment\Observer\RefundObserverBeforeSave"/>
    </event>
</config>
