<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="shortcut_buttons_container">
        <observer name="aplazo_shortcuts" instance="Aplazo\AplazoPayment\Observer\AddAplazoShortcuts"/>
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="checkout_onepage_controller_success_action_sendmail" instance="Aplazo\AplazoPayment\Observer\SendMailOnOrderSuccess" />
    </event>
</config>
