<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aplazo_AplazoPayment::aplazo_refund_queue"
             title="Aplazo refunds"
             module="Aplazo_AplazoPayment"
             sortOrder="90"
             parent="Magento_Sales::sales"
             action="aplazo/refundrequest/index"
             resource="Aplazo_AplazoPayment::aplazo_refund_queue"/>
    </menu>
</config>

