<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Aplazo_AplazoPayment::aplazo_aplazopayment_sale" title="Aplazo Orders" module="Aplazo_AplazoPayment" sortOrder="15" resource="Magento_Backend::content" parent="Magento_Sales::sales_operation" action="aplazo_aplazopayment/sale/index"/>
	</menu>
</config>
