<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="aplazo_aplazopayment" id="aplazo_aplazopayment">
			<module before="Magento_Backend" name="Aplazo_AplazoPayment"/>
		</route>
	</router>
</config>
